body {
  background-image: url("images/fondecran.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container-fluid {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 20px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  padding: 100px;
}
.tarifs {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 20px;
  color: black;
  background-color: white;
}
footer {
  background-color: white;
}
footer,
a {
  text-align: center;
  padding: 10px;
  font-size: larger;
  text-decoration: none;
}
li:first-child::before {
  content: "\0020 \2302";
}

nav,
ul > li {
  display: inline;
  padding: 10px;
  margin: 10px;
  font-size: larger;
}
nav,
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
main,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 50px;
  border: 25px solid black;
  border-radius: 20px;
}
/*page galerie*/
.content {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: aliceblue;
}
.form {
  padding: 0px;
}
#filtre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
#filtre div {
  padding: 10px;
  margin: 10px;
  border: 2px solid tomato;
  border-radius: 20px;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
#galerie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 10px;
}
#galerie .active {
  transition: widht 0.3s;
}
#galerie .inactive {
  width: 0;
  padding: 0;
  transition: widht 0.3s;
}

@media screen and (max-width: 768px) {
  main {
    font-size: 50%;
  }
  .main {
    h1 {
      font-size: medium;
    }
  }
}
@media screen and (max-width: 450px) {
  .container {
    height: 50%;
  }
  .h2 {
    flex-wrap: nowrap;
  }
  .tarifs {
    font-size: 50%;
  }
}
