body
{
    background-image:url("images/fondecran.png");
    background-size: cover;  
    background-repeat: no-repeat;  
}
.container-fluid
{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
}
.container
{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
section
{
    margin-top: 20px;
    padding:5px;
    background-color: aliceblue;
}
.prestation
{
    padding :10px;
    margin-left:20px;
     
}
li:first-child::before 
{
   content: "\0020 \2302";
} 

ul >li
{
    display: inline;
    padding: 10px;
    margin: 10px;
    font-size: larger;
}
a
{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    max-width: 100%;
    height: auto; 
  }
h1
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:tomato;
}
h3
{
    text-align: center;
    letter-spacing:2px;
    color:tomato;
}
p,span
{
  font-style: italic;
  font-size:medium;
  line-height: 10px;
}
span
{
    font-weight: bold;
}
h3, p, span
{
    line-height:2px;
}
